@import "../../styles/breakpoints";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

.wrapper {
    min-height: 50vh;
    max-width: 100%;

    &__main {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .question {
            font-weight: bold;
            font-size: 12px;
        }

        .answer {
            font-size: 10px;

            @include desktop {
                font-size: 12px;
            }
        }

    }


}