<div class="wrapper">
  <div class="example-action-buttons mb-3">
    <button mat-button (click)="accordion?.openAll()">Expand All</button>
    <button mat-button (click)="accordion?.closeAll()">Collapse All</button>
  </div>
  <div class="wrapper__main">
    <mat-accordion class="example-headers-align" multi>
      <ng-container *ngFor="let item of list">
        <mat-expansion-panel class="mb-1">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <p class="question">{{ item.question }}</p></mat-panel-title
            >
          </mat-expansion-panel-header>
          <p class="answer">
            {{ item.answer }}
          </p>
        </mat-expansion-panel>
      </ng-container>
      <mat-expansion-panel class="mb-1">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p class="question">
              Are there any accommodations for out-of-town guests?
            </p></mat-panel-title
          >
        </mat-expansion-panel-header>
        <p class="answer">
          While we won't be providing accommodations for out-of-town guests, you
          can find a list of accommodations at
          <a href="https://visita.baguio.gov.ph/" target="_blank"
            >visita.baguio.gov.ph</a
          >. We recommend booking your accommodations early. If you need any
          further information or assistance, please feel free to reach out to
          us!
        </p>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
