<div class="wrapper">
  <div class="wrapper__item">
    <div class="title">
      <p>
        With Praise & thanksgiving to god and blessings from our beloved parents
      </p>
    </div>
    <div class="content">
      <div>
        <span>Nestor Remiendo</span>
        <span>Jinkie Remiendo</span>
      </div>
      <div>&</div>
      <div>
        <span>Billy Tolete</span>
        <span>Charito Tolete</span>
      </div>
    </div>
  </div>
  <div class="wrapper__item">
    <div class="title">
      <p>with our grand parents</p>
    </div>
    <div class="content">
      <div>
        <span>Pacifico Remiendo +</span>
        <span>Paula Remiendo</span>
        <span>Carlito Ocampo +</span>
        <span>Hermana Ocampo</span>
      </div>
      <div>&</div>
      <div>
        <span>Gabriel Tolete +</span>
        <span>Milagros Tolete</span>
        <span>Demetrio Mencias +</span>
        <span>Cresencia Mencias +</span>
      </div>
    </div>
  </div>
  <div class="wrapper__item">
    <div class="title">
      <p>with our primary sponsors</p>
      <small>Guiding stars on our journey</small>
    </div>
    <div class="content">
      <div>
        <span>Ptr. Joshua & Marianne Mayyam</span>
        <span>Ptr. Reynante & Mila Regalado</span>
        <span>Engr. Jhun & Grace Mayos</span>
        <span>Heide Ocampo </span>
        <span>Manuella Calara </span>
        <span>Tito & Nela Cariaga</span>
        <span>Imelda Bravo</span>
        <span>Marvin & Maricel Maceda</span>
        <span>Ronnie & Evangeline Suarez</span>
        <span>Reynante & Brenda Tejada</span>
      </div>
      <div>
        <span>Gerardo & Delia Bautista</span>
        <span>Alexander & Philyn Tolete</span>
        <span>Reagan & Junaflor Villaflores</span>
        <span>Lilibeth Madriaga</span>
        <span>Larry & Vilma Lu</span>
        <span>Allan & Leila Realiza</span>
        <span>Betty Grace Mencias</span>
        <span>Ret. Capt. David & Lhen Viernes</span>
        <span>Virgillio & Rosemary Cabacungan</span>
        <span>Adela Dumantay</span>
      </div>
    </div>
  </div>
  <div class="wrapper__item">
    <div class="title">
      <p>with our secondary sponsors</p>
      <small>supporting cast on our love story</small>
    </div>
    <div class="content">
      <div>
        <span>Frederick & Jhugrae Buswilan</span>
        <span>Deo & Windy Darit</span>
        <span>Jhake & Marjolyn Ocampo</span>
      </div>
    </div>
  </div>

  <div class="wrapper__item">
    <div class="title">
      <p>with our bearers</p>
      <small>Carriers of Symbols & Sentiments</small>
    </div>
    <div class="content">
      <div>
        <span>Zayn Tolete</span>
        <span>Redjh Buswilan</span>
        <span>Samuel Velasquez</span>
        <span>Maia Athea Remiendo</span>
        <span>Caitlin Tolete</span>
      </div>
    </div>
  </div>

  <div class="wrapper__item">
    <div class="title">
      <p>with our best people</p>
      <small>champions of our unions</small>
    </div>
    <div class="content">
      <div>
        <span>Ivan Remiendo</span>
      </div>
      <div>
        <span>Wilnona Jaye Ledesma</span>
      </div>
    </div>
  </div>
  <div class="wrapper__item">
    <div class="title">
      <p>brotherhood</p>
      <small>to guide our way ahead</small>
    </div>
    <div class="content">
      <div>
        <span>Nico Remiendo</span>
        <span>John Bill Tolete</span>
        <span>Joshua Bascos</span>
        <span>Anthony Basang</span>
        <span>Christian Pascual</span>
        <span>Hynden Luma-ang</span>
        <span>Luigi Abellon</span>
        <span>Roland Brylle Aquisio</span>
        <span>Johniel Rapada</span>
        <span>Edgar Molintas</span>
      </div>
    </div>
  </div>
  <div class="wrapper__item">
    <div class="title">
      <p>sisterhoood</p>
      <small>to guide our way ahead</small>
    </div>
    <div class="content">
      <div>
        <span>Jessamine Ai Marieh Tolete</span>
        <span>Reylyn Tolete</span>
        <span>Jennefer Fisher</span>
        <span>Vanessa Ang</span>
        <span>Graeceinn Mayos</span>
        <span>Tiffany Remiendo</span>
        <span>Diane Rose Tolete</span>
        <span>Maricar Pimentel</span>
        <span>Roche Zhes Robeniol</span>
        <span>Nice Remiendo</span>
      </div>
    </div>
  </div>
</div>
