<div class="wrapper" *ngIf="guests.length > 0">
  <form class="example-form" *ngIf="!isConfirmed">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Enter your full name</mat-label>
      <input
        type="text"
        placeholder="Select name"
        matInput
        [formControl]="myControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let guest of filteredOptions | async"
          [value]="guest.fullName"
        >
          {{ guest.fullName }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <p *ngIf="myControl.touched && !isGuest()">
      Name not found, select name from the list.
    </p>
  </form>
  <button
    class="btn"
    [disabled]="!isGuest()"
    (click)="confirmAttendance()"
    *ngIf="!isConfirmed"
  >
    CONFIRM MY ATTENDANCE
  </button>
  <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>

  <div *ngIf="isConfirmed && currentGuest" class="wrapper__note">
    <p class="border">
      <strong>{{ currentGuest.fullName }}</strong
      >, welcome aboard! Remember, with great attendance comes great
      responsibility - to party like a superhero! 🎉
      <br />
      P.S. This event is exclusively for invited or RSVP'd guests.
    </p>
    <div class="gifts border">
      <p>a note on gifts</p>
      <p>
        Your love, laughter, and company on our wedding is the greatest gift of
        all. But if a gift is on your mind a monetary contribution would be
        kind. It will help us more than words can say to celebrate our special
        day.
      </p>
    </div>
  </div>
</div>
