@import '../../styles/breakpoints';
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

::ng-deep {
    .mat-form-field-appearance-outline .mat-form-field-outline {
        color: #C1C1BF;
    }

    mat-form-field {

        .mat-hint,
        input,
        ::placeholder,
        .mat-form-field-label {
            color: #C1C1BF;
        }
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    font-family: 'Libre Baskerville', serif;
    min-height: 20vh;

    @include desktop {
        min-height: 50vh;
    }

    mat-form-field {
        width: 80vw;

        @include desktop {
            width: 300px;
        }
    }

    p {
        color: #c1c1bf !important;
    }

    .btn {
        cursor: pointer;
        font-size: 10px;

        @include desktop {
            font-size: 12px;
        }
    }

    &__note {
        padding: 10px 20px;

        p {
            text-align: center;
            font-size: 12px;

            @include desktop {
                font-size: 14px;
            }
        }

        .border {
            border: 1px solid grey;
            padding: 10px;
        }

        .gifts {
            p {
                font-size: 12px;

                &:nth-of-type(1) {
                    font-size: 20px;
                    font-family: 'Cedarville Cursive', cursive !important;

                    @include desktop {
                        font-size: 24px;
                    }
                }

                @include desktop {
                    font-size: 14px;
                }
            }
        }
    }
}