<div class="wrapper">
  <div class="wrapper__info">
    <h1>Theme colors:</h1>
    <p>
      Please dress in black, white or a combination of both to honor our
      black-and-white theme.
    </p>
    <h1>Attire style:</h1>
    <p>
      Cocktail or semi-formal attire is encouraged, contributing to the elegance
      of the event.
    </p>
    <h1>Please avoid:</h1>
    <p>T-shirts: Opt for a more formal option to suit the occasion.</p>
    <p>Slippers: Closed-toe shoes or formal sandals are preferred.</p>
    <p>Jeans: Please choose dress pants, skirts or dresses instead.</p>
  </div>
  <div class="wrapper__media">
    <img class="desktop" src="../../assets/dress-desktop.png" alt="" />
    <img class="mobile" src="../../assets/dress-mobile.png" alt="" />
  </div>
</div>
