<div class="wrapper">
  <p>COMING SOON!</p>

  <a href="https://www.facebook.com/t.penocampo1201"></a>
  <div class="wrapper__media">
    <img src="../../assets/ta.gif" alt="logo" />
  </div>

  <br />
  <p class="m-0">Photos/videos courtesy of the groom's cuz:</p>
  <br />
  <div
    class="d-flex align-items-center justify-content-center mb-3 flex-column"
  >
    <p class="m-0">Stephen Jhun Ocampo</p>
    <div class="d-flex mt-3">
      <a
        class="mx-3"
        href="https://www.instagram.com/t_penocampo/"
        target="_blank"
        ><i class="bi bi-instagram"></i
      ></a>

      <a
        class="mx-3"
        href="https://www.facebook.com/t.penocampo1201"
        target="_blank"
      >
        <i class="bi bi-facebook"></i>
      </a>
    </div>
  </div>
</div>
