@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import '../styles/breakpoints';

h1 {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #202222;
    flex-grow: 1;
    padding: 20px 0px;
    min-height: 100%;

    &__hero {
        h1 {
            font-size: 14px;
        }

        @include desktop {
            display: none;
        }
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;

        h1 {
            font-size: 30px;
            font-style: italic;
        }

        @include desktop {
            height: 30vh;

            h1 {
                font-size: 80px;
            }
        }
    }

    &__media {
        max-width: 100%; // or 100% if you want it to be full-width
        margin: auto;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            display: block; // Remove extra space below the image
            transition: opacity 1s ease-in-out; // Fade transition for the images
        }

        @include desktop {
            display: none;
        }
    }

    &__title {
        margin: 10px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0 40px;

        h1 {
            letter-spacing: 0.3em;
            font-size: 20px;
        }

        p {
            margin-top: 20px;
            letter-spacing: 0.2em;
            text-align: center;
            font-size: 10px;
        }

        @include desktop {
            h1 {
                font-size: 34px;
            }

            p {
                font-size: 12px;
            }
        }
    }

    &__nav {
        margin: 20px 0;

        ul {
            list-style: none; // Remove default list style
            padding: 0; // Remove default padding
            margin: 0; // Remove default margin
            display: flex; // Use flexbox for the layout
            flex-wrap: wrap; // Allow items to wrap to the next line
            justify-content: space-between; // Distribute space between items

            li {
                margin-left: 10px;
                flex: 1 1 auto; // Allow list items to grow and shrink as needed
                text-align: center; // Center the text in each list item
                padding: 10px;
                letter-spacing: 0.15em;
                cursor: pointer;

                &:hover {
                    transform: scale(1.1);
                }
            }


        }

        @include mobile {
            ul {
                li {
                    margin-top: 10px;
                    flex: 0 0 33%; // Each item takes up one-third of the container's width
                    padding: 0px;
                    letter-spacing: 0em;
                }
            }
        }

    }

    &__main {
        height: 100%;
        padding: 20px;

        @include desktop {
            padding: 20px 100px;
        }

    }

    &__footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #C1C1BF; // Feel free to change the color
        color: #202222;
        text-align: center;
        padding: 6px;
    }
}

.active {
    position: relative;
}

.active::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    height: 2px;
    width: 100%;
    background-color: currentColor;
}

.rsvp {
    font-weight: bold;
    border: 1px solid grey;
}