<div class="wrapper">
  <div class="wrapper__header">
    <h1>#WeddingHashtag</h1>
  </div>
  <div class="wrapper__title">
    <h1>THOR & AIA</h1>
    <p>MARCH 9, 2024 PINEWOODS GOLF AND COUNTRY CLUB, BAGUIO CITY</p>
  </div>
  <div class="wrapper__nav">
    <ul>
      <li routerLink="/home" routerLinkActive="active">Home</li>
      <li routerLink="/photos" routerLinkActive="active">Photos</li>
      <li routerLink="/rsvp" routerLinkActive="active">RSVP</li>
    </ul>
  </div>
</div>
<div class="wrapper__main">
  <router-outlet></router-outlet>
</div>
