<div class="wrapper">
  <ng-container *ngIf="!isLocked">
    <div class="wrapper__search">
      <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input matInput placeholder="Search" [formControl]="searchKey" />
      </mat-form-field>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Add Guest</mat-label>
          <input matInput [formControl]="guestName" />
        </mat-form-field>
        <button mat-button (click)="addNewGuest()">Add</button>
      </div>
    </div>
    <div class="d-flex justify-content-between">
      <p>Total: {{ this.guests.length }}</p>
      <p>Confirmed: {{ getConfirmedNumber() }}</p>
      <div>
        <button mat-raised-button (click)="filterConfirmed()">
          Show only confirmd
        </button>
        <button mat-button (click)="reset()">Reset</button>
      </div>
    </div>
    <table mat-table [dataSource]="guests">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element">{{ element.fullName }}</td>
      </ng-container>

      <ng-container matColumnDef="plus">
        <th mat-header-cell *matHeaderCellDef>Plus</th>
        <td mat-cell *matCellDef="let element">{{ element.withPlus }}</td>
      </ng-container>

      <ng-container matColumnDef="isConfirmed">
        <th mat-header-cell *matHeaderCellDef>Confirmed</th>
        <td mat-cell *matCellDef="let element">{{ element.isConfirmed }}</td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let element">
          <button mat-button (click)="confirmGuest(element.id)">confirm</button>
          <button mat-button color="accent" (click)="deleteGuest(element.id)">
            delete
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </ng-container>
  <ng-container *ngIf="isLocked">
    <mat-form-field appearance="fill">
      <mat-label>Passcode</mat-label>
      <input matInput [(ngModel)]="code" />
    </mat-form-field>
    <button mat-raised-button (click)="confirmCode()">Submit</button>
  </ng-container>
</div>
