@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
// Importing breakpoints
@import 'styles/breakpoints';

// Global styles here...

* {
    margin: 0;
    padding: 0;
}

body {
    // background-color: #202222;
    color: #C1C1BF;
    font-family: 'Libre Baskerville', serif;
}

h1,
p {
    font-family: 'Libre Baskerville', serif !important;
    margin: 0;
    padding: 0;
}

.btn {
    padding: 10px;
    background-color: #C1C1BF;
    border: none;
    font-family: 'Libre Baskerville', serif !important;
    border-radius: 4px;
}