<div class="wrapper">
  <div class="wrapper__media">
    <div
      *ngFor="let image of images; let i = index"
      [hidden]="currentImageIndex !== i"
    >
      <img [src]="image" alt="" />
    </div>
  </div>
  <div class="wrapper__main">
    <div class="timer">
      <div class="timer__left">
        <h1>
          {{ daysUntilEvent }}
        </h1>
      </div>
      <div class="timer__divider"></div>
      <div class="timer__right">
        <p>days</p>
        <p>to go</p>
      </div>
    </div>
    <div class="rsvp">
      <button class="btn" routerLink="/rsvp">RSVP</button>
    </div>
    <div class="details">
      <h1>WEDDING DAY</h1>
      <p>MARCH 9, 2024</p>
      <p>2:00PM - 8:00PM</p>
      <div class="details__address">
        <div class="item">
          <div>2:00PM - 5:00 PM</div>
          <div>CEREMONY</div>
        </div>
        <div class="item">
          <div>5:30PM - 8:00 PM</div>
          <div>RECEPTION</div>
        </div>
      </div>
    </div>
  </div>
</div>
